.App {
  text-align: center;

}

.App-logo {
  height: 200px;
  margin: 2rem;
}

.container {
  height: 40rem;
  width: 25rem;
  margin: 0 auto;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "header" "card";
  background-color: #f48b29;;  
  color: white;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
